.ag-theme-alpine {
    @include ag-theme-alpine((
        header-foreground-color:$gray-50,
        header-background-color:$white,
        selected-row-background-color:$blue-200,
        row-hover-color:$blue-100,
        header-height:28px,
        row-height:44px,
        
        odd-row-background-color:$white,
        borders:false,
        
    ));
 
  }


  .ag-header-cell-text{
      @include rfs(14px);
      font-weight: 500;
  }

.ag-header{
    height: 34px!important;
    min-height: 34px!important;
    box-shadow: inset 0px -1px 0px #D2D2D6;
}

.ag{
    &-row{
        box-shadow: inset 0px -1px 0px #D2D2D6;
        &-even{
            background-color: $gray-5!important;
        }
    }
}
  