.slick {
	&-arrow {
		&.slick-prev {
			left: 1.5rem;
			z-index: 1;
			&::before {
				content: '\e920';
				font-family: 'icomoon';
				@include rfs(36px);
				opacity: 1;
			}
		}
		&.slick-next {
			right: 2.5rem;
			z-index: 1;
			&::before {
				content: '\e921';
				font-family: 'icomoon';
				@include rfs(36px);
				opacity: 1;
			}
		}
	}
	&-slide {
		img {
			display: inline !important;
			width: 100%;
		}
	}
	&-dots {
		bottom: 1rem !important;
		li {
			button {
				&:before {
					font-size: 1rem !important;
					opacity: 1 !important;
					color: $gray-8 !important;
				}
			}
			&.slick-active {
				button {
					&:before {
						font-size: 1rem !important;
						opacity: 1 !important;
						color: $blue-4 !important;
					}
				}
			}
		}
	}
}


.slider{
	&-basic{
		.slick{
			&-slider, &-list, &-track, &-slide{
				height: 100%;

				img{
					height: 100%;
				}
			}
			&-slide{
				>div{
					height: 100%;
					.slider-content{
						height: 100%;
					}
				}
			}
		}
	}
}