// @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700&display=swap');

// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

// @import "~vue-slick-carousel/dist/vue-slick-carousel.css";
// @import "~vue-slick-carousel/dist/vue-slick-carousel-theme.css";
@import "../icon.css";
@import "./abstracts/variables";
// @import './abstracts/adminvariables';

@import "./frameworks/bootstrap";
@import "./frameworks/marquee3k";

//abstracts
@import "./abstracts/base";
@import "./abstracts/mixin";
@import "./abstracts/utilities";
@import "./abstracts/typography";

//components
@import "./components/navbar";
@import "./components/header";
@import "./components/button";
@import "./components/carousel";
@import "./components/footer";
@import "./components/card";
@import "./components/form";
@import "./components/table";
@import "./components/image";
@import "./components/alert";
@import "./components/tab";
@import "./components/animation";
@import "./components/modal";
@import "./components/breadcrumbs";
@import "./components/login";
@import "./components/sidebar";
@import "./components/flex";
@import "./components/list";
@import "./components/popover";
@import "./components/collapse";
@import "./components/dropdown";
@import "./components/error";

//Layout
@import "./abstracts/layout";
//sections
@import "./components/section";

@import "./frameworks/slick";

#__nuxt,
#__layout {
  height: 100% !important;
}
