.blinking {
  animation: blinkingText 2s infinite;
 
}
@keyframes blinkingText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// @keyframes blinkingDate {
//   0%,100% {
//     opacity: 0;
//     transform: scale(1);
//   }
//   50% {
//     opacity: 1;
//     transform: scale(0);
//   }

// }


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  position: relative;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  /* This container is needed to position the front and back side */
  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

/* Position the front and back side */
  &-front, &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  /* Style the back side */
  &-front {
    transform: rotateX(0deg);
  }
  /* Style the back side */
  &-back {
    transform: rotateX(180deg);
  }
  // /* Do an horizontal flip  */
  .rotate{
    transform: rotateX(180deg);
  }
}



