.btn {
  &-xs {
    @include button-size(
      $btn-padding-y-xs,
      $btn-padding-x-xs,
      $btn-font-size-xs,
      $btn-border-radius-xs
    );
  }
  &-success {
    color: white;
  }
  &-outline {
    &-gray-7 {
      transition: 0.3s all;
      @include button-outline-variant($blue-3, white, $gray-7);
    }
    &-gray-40 {
      @include button-outline-variant($morning-blue-40, white, $gray-40);
    }
  }
  &-icon {
    display: inline-flex;
    align-items: center;
    [class^="ic-"],
    [class*=" ic-"],
    svg {
      @include rfs(14px);
      vertical-align: middle;
    }
    &.lft {
      [class^="ic-"],
      [class*=" ic-"],
      svg {
        margin-right: 0.5rem;
      }
    }
    &.rft {
      [class^="ic-"],
      [class*=" ic-"],
      svg {
        margin-left: 0.5rem;
      }
    }
  }
  &-square {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    &_sm {
      @extend .btn-square;
      height: 1.5rem;
      width: 1.5rem;
    }
    &_md {
      @extend .btn-square;
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &-ghost {
    &-night-30 {
      @include button-ghost-variant($night-blue-30, $night-blue-5);
    }
  }
}
