// .carousel {
// 	&-indicators {
// 		bottom: 20%;
// 		li {
// 			width: 1rem;
// 			height: 1rem;
// 			border-radius: 50%;
// 			border: unset;
// 			margin: 0;
// 			box-sizing: border-box;
// 			border: 0.25rem solid white;
// 			background-color: $gray-100;
// 			&:not(:last-child) {
// 				margin-right: 0.5rem;
// 			}
// 			&:focus {
// 				outline: none;
// 			}
// 			&.active {
// 				background-color: $blue;
// 			}
// 		}
// 		@include media-breakpoint-down(md) {
// 			bottom: 0;
// 		}
// 	}
// 	&-caption {
// 		left: 0;
// 		right: 0;
// 		text-align: left;
// 		bottom: unset;
// 		top: 20%;
// 		@include media-breakpoint-down(md) {
// 			position: static;
// 			padding: 0 0 2.25rem;
// 		}
// 	}
// 	&-card {
// 		max-width: 28.5rem;
// 		background-color: white;
// 		color: black;
// 		padding: 2rem 3rem;
// 		position: relative;
// 		display: flex;
// 		flex-direction: column;
// 		align-items: flex-end;
// 		&:before {
// 			content: '';
// 			width: 0.25rem;
// 			height: 100%;
// 			position: absolute;
// 			top: 0;
// 			left: 1rem;
// 			bottom: 0;
// 			background-color: $blue;
// 		}
// 		h5 {
// 			@include rfs(18);
// 			margin-bottom: 1rem;
// 			font-weight: 800;
// 		}
// 		p {
// 			@include rfs(16);
// 			color: $gray-100;
// 			margin-bottom: 1rem;
// 		}
// 		@include media-breakpoint-down(md) {
// 			background-color: unset;
// 			padding: 1.5rem 0;
// 			align-items: flex-start;
// 			&:before {
// 				display: none;
// 			}
// 		}
// 	}
// 	&-inner {
// 		height: 100%;
// 	}
// 	&-item {
// 		height: 100%;
// 		img {
// 			height: 100%;
// 			object-fit: cover;
// 		}
// 	}
// 	&-home {
// 		height: 37rem;
// 		background-color: $light-100 !important;
// 		@include media-breakpoint-down(lg) {
// 			height: 32rem;
// 		}
// 		@include media-breakpoint-down(md) {
// 			height: auto;
// 		}
// 	}
// }
