@mixin card-bordered {
  border: 1px solid $night-blue-15;
}
@mixin card-rounded($radius: 4px) {
  border-radius: $radius;
}

.card {
  &__bordered {
    @include card-bordered;
  }
  &__rounded {
    @include card-rounded;
  }
  &-01 {
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  }
  &-caption {
    padding: 1rem;
    border-left: 3px solid;
  }
  &-content {
    @include card-bordered();
    padding: 1.5rem;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &-icon {
    @include card-bordered();
    padding: 2rem;
  }
  &-body {
    padding: 1.5rem;
  }
  &-text {
    margin: 0.25rem 0 1rem 0;
    color: $gray-3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &-news {
    p {
      color: $gray-3;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    a {
      color: $blue-3;
    }
  }

  &-select {
    @include card-rounded(8px);
    display: block;
    background-color: white;
    position: relative;
    color: $night-blue-50;

    &:hover {
      .card-desc {
        visibility: visible;
        transition: all 0.5s ease-in-out;
      }
    }

    .card {
      &-img {
        pointer-events: none;

        padding: 0.5rem;
        img {
          height: 140px;
          width: 100%;
          object-fit: cover;
        }
      }
      &-body {
        pointer-events: none;
        padding: 0.5rem 0.75rem;
        font-weight: 400;
        box-shadow: 0px 2px 7px rgba(40, 57, 80, 0.08);
      }
    }

    &.selected {
      background-color: $morning-blue-40;
      color: white;
      &:after {
        content: "\e91c";
        font-family: "icomoon";
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $morning-blue-40;
        @include rfs(12px);
      }
    }
    &.close {
      // @extend .card-select.selected;
      background-color: white;
      position: relative;
      color: $night-blue-50;
      cursor: auto;

      &:after {
        display: none;
      }

      .ic-close {
        position: absolute;
        background-color: $red-80;
        color: white;
        cursor: pointer;
        @include rfs(12px);
        top: 0.25rem;
        right: 0.25rem;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &-02 {
    background: $night-blue-5;
    padding: 1rem;
    border-radius: 4px;
  }

  &-03 {
    background: transparent;
    padding: 0.5rem;
    cursor: pointer;
    border-radius:4px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: white;
      box-shadow: 0px 4px 8px rgba(40, 57, 80, 0.04), 0px 2px 4px rgba(40, 57, 80, 0.08);
    }
  }

  &-04 {
    @include card-bordered;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    color:$night-blue-70;
    display: flex;
    align-items: center;
    justify-content: space-between;

  
  }
}
