.hasSub {
  position: relative;
  &:after {
    content: "\e91f";
    font-family: "icomoon";
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    @include rfs(14px);
  }

  &[aria-expanded="true"] {
    &:after{
      content: "\e922";
    }
  }
}
