.dropdown {
  &-menu {
    box-shadow: 0px 4px 8px rgba(40, 57, 80, 0.04),
      0px 2px 4px rgba(40, 57, 80, 0.08);
  }

  &.notification {
    .dropdown {
      &-toggle {
        &::after {
          display: none;
        }
      }
      &-menu {
        padding: 0;
        max-height: 360px;
        @extend .scrollable;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08),
          0px 4px 8px rgba(0, 0, 0, 0.08);

        li {
          &:first-child {
            @include flex(center, space-between);
            padding: 0.75rem 1rem;
            border-bottom: 1px solid $night-blue-10;

            .btn {
              &-link {
                padding: 0;
                text-decoration: none;
                @include rfs(12px);
              }
            }
          }
          &:last-child {
            padding: 0.75rem 1rem;
            border-top: 1px solid $night-blue-10;
          }
        }
      }

      &-item {
        white-space: normal !important;
        width: 360px !important;
        padding: 0.75rem;
        @include clamp(4);
        background-color: $night-blue-5;
        &.new {
          position: relative;
          padding-left: 2rem;
          background-color: $white;
          &::before {
            content: " ";
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $primary;
            position: absolute;
            // top: calc(50% + 12px);
            bottom: 50%;
            left: 1rem;
          }
        }
        p {
          color: $night-blue-70;
          @include rfs(12px);
        }
        .time {
          color: $night-blue-40;
        }
        &:hover {
          background-color: $night-blue-5;
        }
      }

      &-menu {
      }
    }

    &.filter {
      .dropdown {
        &-item {
          background-color: $white;
          padding: 0.5rem 1rem;
          label {
            color: $night-blue-70;
          }
        }
        &-menu {
          li {
            &:first-child {
              margin-bottom: 0.5rem;
            }
            &:last-child {
              margin-top: 0.5rem;
              padding: 0.75rem 1;
            }
          }
        }
      }
    }
  }
}
