.form,
form {
  &-control {
    &-icon {
      position: relative;
      svg,
      i {
        position: absolute;
        color: $gray-4;
        @include rfs(20px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &.lft {
        .form-control {
          padding-left: 2.25rem;
        }
        svg,
        i {
          left: 0.5rem;
        }
      }
      &.rft {
        .form-control {
          padding-right: 2.25rem;
        }
        svg,
        i {
          right: 0.5rem;
        }
      }

      &.passwordText {
        input {
          padding: 0;
          background: transparent;
          border: none;
        }
        i,
        svg {
          @include rfs(14px);
          color: $night-blue-30;
        }
      }
    }
  }

  &-group {
    margin-bottom: $form-group-margin-bottom;
    &-dialog {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 4px 8px rgba(40, 57, 80, 0.04),
        0px 2px 4px rgba(40, 57, 80, 0.08);
      z-index: 1;
      background-color: white;
      display: none;
      padding: 0.75rem;
      margin-top: 0.25rem;

      a {
        display: block;
        color: $night-blue-40;
        @include rfs(12px);
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }

      &.show {
        display: block;
      }
    }
  }

  &-upload {
    @extend .card__bordered;
    padding: 1.5rem;
    border-style: dashed;
    border-radius: $input-border-radius;
    text-align: center;
    @include rfs(14px);
    color: $night-blue-40;
    input {
      display: none;
    }
  }

  &-switch {
    .form-check-input {
      background-color: #d7dfeb;
      border: none;
      &:checked {
        background-color: #d0e1f8;
      }

      &.light {
        background-image: unset;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 1rem;
          height: 1rem;
          background-color: $form-switch-bg-image-light;
          border-radius: 50%;
          left: 0;
          transition: left 0.15s ease-in-out;
        }
        &:checked {
          &::after {
            background-color: $form-switch-checked-bg-image-light;
            left: 1em;
          }
        }
      }
    }
  }
  &-color {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    input {
      -webkit-appearance: none;
      cursor: pointer;
      position: absolute;
      border: none;
      padding: 0;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
    }
  }
}

.input {
  &-group {
    &.focused {
      .input-group-text {
        border-color: $input-focus-border-color;
      }
    }

    input {
      border-left: 0;
      border-right: 0;
      text-align: center;

      &::placeholder {
        text-align: center;
      }
    }
  }
}

label {
  font-size: $form-label-font-size;
}

.input {
  &-group {
    &.focused {
      .input-group-text {
        border-color: $input-focus-border-color;
      }
    }

    input {
      border-left: 0;
      border-right: 0;
      text-align: center;

      &::placeholder {
        text-align: center;
      }
    }
  }
}

label {
  font-size: $form-label-font-size;
}

input[type="file"] {
  line-height: initial;
}
