.grid{
    &-equal{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        .card-07{
            &:not(:last-child){
                margin-right: 1rem;
            }
        }
        &-5{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            & > div {
                &:not(:last-child){
                    margin-right: 1rem;
                }
            }
        }
    }
}