.logo {
	&_xs {
		height: 2.5rem;
	}
	&_sm {
		height: 3rem;
	}
	&_md {
		height: 3.5rem;
	}
	&_lg {
		height: 5rem;
	}
}

.img {
	&-thumb {
		width: 92px;
		height: 92px;
		flex-shrink: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 0.25rem;
		}
		&_md{
			@extend .img-thumb;
			width: 145px;
			height: 104px;
		}
		
	}
	&_md {
		width: 107px;
		height: 90px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&_lg {
		height: 250px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0.25rem;
		}
	}
}
.avatar {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}

	&_lg {
		@extend .avatar;
		height: 72px;
		width: 72px;
	}
	&_md {
		@extend .avatar;
		height: 2rem;
		width: 2rem;
	}

	&_sm {
		@extend .avatar;
		height: 1.5rem;
		width: 1.5rem;
	}
	&-icon {
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba($blue-5, 0.32);
		&.sm {
			width: 48px;
			height: 48px;
			i {
				@include rfs(24px);
				color: $blue-3;
			}
		}
		&.md {
			width: 72px;
			height: 72px;
			i {
				@include rfs(32px);
				color: $blue-3;
			}
		}
	}
}

.component{
	&-image{
		text-align: center;
	}
}