.kanban{
    &-board{
        border-radius: .25rem;
        border:1px solid $gray-100;
        padding: .75rem 1rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
        
    }
    &-title{
        @include rfs(12px);
        color: $gray-500;
        font-weight: 500;
        margin-bottom: .5rem;
    }
    &-item{

    }
    &-indicator{
        border: 1px dashed $gray-300;
        background-color: $gray-5;
        border-radius: 2px;
        display: flex;
        padding: 0 .5rem;
        height: 1.5rem;
        align-items: center;
        box-sizing: border-box;
        @include rfs(10px);
        span{
            margin-left: .25rem;
        }
        &.active{
            background-color: $indigo-500   ;
            border: unset;
            color: white;
        }
    }
}