.list {
  list-style: none;
  padding: 0;
  margin: 0;
  &-socials {
    display: flex;
    align-items: center;
    li {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
      a {
        border-radius: 50%;
        padding: 0.5rem;
        transition: 0.3s all;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &-contact {
    li {
      display: flex;
      //   align-items: center;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      [class^="ic-"],
      [class*=" ic-"] {
        margin-right: 0.75rem;
        font-size: 1.125rem;
      }
    }
  }
  &-routine {
    li {
      &:not(:first-child) {
        padding: 1rem 0;
      }
      .schedule {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  &-links {
    li {
      padding: 0.5rem 0;
      &:first-child {
        padding-bottom: 0.5rem;
      }

      a {
        display: flex;
        @include rfs(14px);

        &:before {
          content: "\e916";
          font-family: "icomoon";
          @include rfs(12px);
          margin-right: 0.5rem;
        }
        [class^="ic-"],
        [class*=" ic-"] {
          margin-right: 0.5rem;
          font-size: 0.75rem;
        }
      }
    }
  }
  &-officials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include media-breakpoint-down(lg) {
      flex-direction: row;
    }
    li {
      display: flex;
      margin-bottom: 2.5rem;
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }
  }
  &-members {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include media-breakpoint-down(lg) {
      flex-direction: row;
    }
    li {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 2.5rem;
      }
      @include media-breakpoint-down(lg) {
        margin-right: 1rem;
      }

      small {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
  &-headlines {
    li {
      padding: 1rem 0.75rem 1rem 3rem;
      &:not(:last-child) {
        border-bottom: 1px solid;
      }
      a {
        @include rfs(14px);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
  &-marquee {
    display: flex;
    align-items: center;
    li {
      color: $blue-3;
      a {
        span {
          color: $blue-5;
        }
      }
    }
  }
  &-thumb {
    li {
      a {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        h6 {
          color: $gray-3;
        }
        small {
          color: $gray-5;
        }
        p {
          color: $gray-3;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid $gray-7;
      }
      &:not(:first-child) {
        padding-top: 1rem;
      }
    }
  }
  &-bordered {
    li {
      padding-bottom: 0.75rem;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s all;
        p {
          color: $gray-3;
        }
        small {
          color: $gray-50;
          margin: 0.5rem 0;
        }
        &:hover {
          p {
            color: $blue-3;
          }
          small {
            color: $blue-3;
          }
        }
      }
      &:not(:first-child) {
        padding-top: 0.75rem;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $gray-7;
      }
    }
  }
  &-card {
    li {
      padding: 0.5rem 1rem;
      background-color: $gray-30;
      margin-bottom: 1rem;
      border-radius: 0.25rem;
      &.bordered {
        box-shadow: inset -4px 0px 0px #2159ab;
      }
      a {
        color: $gray-3;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &:hover {
          color: $blue-3;
        }
      }
    }
  }

  &-01 {
    width: 16.75rem;
    margin-top: 2rem;
    li {
      color: $night-blue-30;
      &:not(:last-child){
        margin-bottom: 1rem;
      }
      a {
        display: flex;
        align-items: center;
        font-weight: 800;
        padding-left: 0.75rem;
        &::before {
          content: "";
          display: inline-block;
          height: 1.5rem;
          width: 2px;
          background-color: $morning-blue-40;
          border-radius: 0px 4px 4px 0px;
          visibility: hidden;
          margin-right: 0.75rem;
        }
        &.active {
          color: $morning-blue-40;
          padding-left: 0.75rem;
          &::before {
            visibility: visible;
          }
        }

        i {
          margin-right: 1rem;
        }
      }
    }
  }

  &-dots{
    display: flex;
    align-items: center;
    li{
      color: $night-blue-40;
      @include rfs(12px);
      &:not(:last-child){
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        position: relative;
        &:after{
          content: "";
          display: block;
          height: 2px;
          width: 2px;
          border-radius: 50%;
          background: $night-blue-40;
          position: absolute;
          top: 50%;
          right: 0;
        }

      }
    }
  }

 
}
