$login: (
  bgColor: #2159abdb,
  formBg: $blue-7,
);

.login {
  height: 100vh;
  width: 100%;
  background-color: map-get($map: $login, $key: bgColor);
  @include scrollable;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
  }

  &-left {
    padding: 1.5rem 0 0;
    height: 100%;
    @include media-breakpoint-down(lg){
      height: auto;
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: white;
      @include rfs(12px);
    }
    select {
      background-color: transparent;
      color: white;
      border: none;
      @include rfs(12px);
      cursor: pointer;
      &:focus-visible{
        outline: none;
      }
      option{
        background-color: map-get($map: $login, $key: bgColor);;
      }
    }
  }

  &-row{
    height: 100%;
    @include media-breakpoint-down(lg){
      height: auto;
    }
  }

  &-greeting {
    color: white;
    padding: 3rem 0;
    display: flex;
    border-top: 1px solid rgba(white, 0.24);
    border-bottom: 1px solid rgba(white, 0.24);
    @include media-breakpoint-down(lg){
      padding: 1.5rem 0;
      margin: 2rem 0;
    }
  }

  &-image{
    width: 6rem;
    height: 6rem; 
    background-color: white;
    flex-shrink: 0;
    border-radius:4px;
    padding: 1rem;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
  }

  &-right{
    background-color: map-get($map: $login, $key: formBg );
    height: 100%;
    @include media-breakpoint-down(lg){
      padding: 3rem 0;
      border-radius: 4px;
    }
  
  }
}
