.modal {
  &-header,
  &-footer {
    border: none;
  }
  &-title {
    font-weight: 800;
    color: $night-blue-70;
    @include rfs(16px);
  }
  &-confirm {
    .icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: auto;
      margin-bottom: 1rem;

      [class^="ic-"],
      [class*=" ic-"] {
        color: white;
      }
    }
    &.danger {
      .modal-header {
        background-color: #f9e9e8;
        color: $danger;

        .modal-title {
          color: $danger;
        }
        .icon {
          background-color: $danger;
        }
      }
    }
    &.success {
      .modal-header {
        background-color: #e9f6ea;
      }
      .modal-title {
        color: $success;
      }
      .icon {
        background-color: $success;
      }
    }
    &.primary {
      .modal-header {
        background-color: $blue-7;
      }
      .modal-title {
        color: $primary;
      }
      .icon {
        background-color: $primary;
      }
    }

    .modal {
      &-header {
        justify-content: center;
        padding: 1.5rem;
        display: block;
        text-align: center;
      }
      &-footer {
        padding-bottom: 1.5rem;
      }
      &-body {
        background-color: white;
        padding: 2.5rem 2.5rem 1rem 2.5rem;
        text-align: center;
      }
    }
  }

  &-dialog {
    &-scrollable {
      .modal-body {
        @include scrollable;
      }
    }
  }

  &-01 {
    .modal {
      &-body {
        padding: 3rem;
        @include flex(center, center, column);
        text-align: center;
        .lft {
          top: 0;
        }
        .rft {
          bottom: 0;
        }

        .media-wrapper {
          width: 150px;
          margin-bottom: 1.5rem;
        }
        h3 {
          margin: 2.5rem 0 0.5rem 0;
        }

        .progress {
          width: 212px;
        }
      }
    }
  }
}
