.section {
  &-header {
    background: white;
    padding: 0.75rem;
  }

  &-inner {
    padding: 1rem;

    iframe,.design-studio {
      border: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      transition: width 0.5s ease-in-out;
      box-shadow: 0px 2px 7px rgba(40, 57, 80, 0.08);

      &.desktop {
        width: 100%;
      }
      &.tablet {
        width: 768px;
      }

      &.mobile {
        width: 425px;
      }
      html,
      body {
        @include scrollable;
      }
    }
  }

  &-officials {
    padding: 2rem 1.5rem;
  }
  &-members {
    padding: 1rem 3rem;
  }
  &-newsticker {
    display: flex;
    align-items: center;
  }
  &-news {
    background-color: $white;
    padding: 2.5rem 3rem;
  }
  &-about {
    padding: 0 3rem;
  }
  &-gallery {
    padding: 2.5rem 3rem;
  }
  &-publications {
    padding: 2.5rem 3rem;
    background-color: $white;
    .block {
      border-radius: 0.25rem;
      padding: 4.18rem 1.5rem;
      color: $white;
      &.inner {
        padding: 0.5rem;
        border-radius: 0px;
      }
      &-content {
        border: 1px solid white;
        padding: 4.18rem 1.5rem;
      }
    }
  }
}
.gallery {
  &-item {
    border-radius: 0.25rem;
    cursor: pointer;
    display: block;
    position: relative;
    &:hover {
      color: inherit;
    }

    .imgbox {
      height: 233px;
      img {
        border-radius: 0.25rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin: 0 auto;
      }
    }
    &:hover {
      transform: translateY(-5px);
      transition: all 0.2s ease-in-out;
    }
    .tag {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      background-color: $blue-1;
      padding: 0.25rem;
      border-radius: 0.25rem;
      p {
        @include rfs(12);
        color: white;
      }
    }
  }
  &-container {
    padding: 2.5rem 3rem;
    background-color: $white;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px 350px;
    grid-gap: 1rem;
    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &-images {
    height: 100%;
    width: 100%;
    overflow: hidden;
    &.h-1 {
      grid-row: span 1;
    }
    &.h-2 {
      grid-row: span 2;
    }
    &.h-3 {
      grid-row: span 3;
    }
    &.w-4 {
      grid-row: span 4;
    }
    &.h-5 {
      grid-row: span 5;
    }
    &.h-6 {
      grid-row: span 6;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
