.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background-color: white;
  flex-shrink: 0;
  padding: 1.5rem;
  box-shadow: 2px 0px 7px rgba(40, 57, 80, 0.08);
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;

  &.toggle {
    transform: translateX(calc(-1 * var(--sidebar-width)));
    width: 0;
    opacity: 0;
    padding: 0;
  }

  &-list {
    li {
      a {
        padding: 0.5rem 0.75rem;
        color: $night-blue-50;
        @include rfs(14px);
        font-weight: 400;
        display: block;
        border-radius: 4px;
        &.active {
          background: $morning-blue-40;
          color: white;
        }

        &.hasSub {
          &[aria-expanded="true"] {
            background: $morning-blue-5;
          }
        }
      }
      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    .list {
      padding-left: 0.75rem;
    }
  }
}
