.tab {
  &-scrollable {
    position: relative;
  }
  &-01 {
    overflow: scroll;
    white-space: nowrap;
    flex-wrap: nowrap;
    border: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .nav {
      &-item {
        border: none;
        &:not(:last-child) {
          margin-right: 0.125rem;
        }
        button {
          color: $gray-1;
        }
      }
      &-link {
        border-radius: 0px;
        background-color: $gray-6;
        border: none;
        &.active {
          box-shadow: inset 0px 2px 0px $blue-3;
        }
      }
    }
  }
  &-02 {
    li {
      a {
        @include rfs(14px);
        padding: 0.25rem 0.75rem;
        border-radius: 4px;
        &:hover {
          color: white;
        }
        &.active {
          background: $morning-blue-50;
        }
      }
    }
  }
  &-03 {
    li {
      &:not(:last-child){
        margin-right: 1rem;
      }
      a {
        display: flex;
        align-items: center;
        color: $night-blue-40;
        @include rfs(14px);
        font-weight: 800;
        padding: 0.5rem 0;
        &.active {
          color: $morning-blue-40;
          border-bottom: 2px solid $morning-blue-40;
        }
        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
.nav {
  &-pills {
    overflow: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
    .nav {
      &-item {
        border: none;
        &:not(:last-child) {
        }

        button {
          color: $gray-1;
        }
      }
      &-link {
        border-radius: 0px;
        background-color: $gray-6;
        border-radius: 100px;
        padding: 1rem 2.5rem;
        border: none;
        outline: none;
        &.active {
          background-color: $blue-3;
          border: 8px solid #e9e9e9;
          padding: 0.5rem 2.5rem;
        }
      }
    }
  }
  &-link{
    color: black;
  }
}
