.table {
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
  }
  &-01 {
    @include rfs(14px);
    thead {
      th {
        color: $night-blue-30;
        box-shadow: inset 0px 1px 0px $table-border-color,
          inset 0px -1px 0px $table-border-color;
        border: none;
        position: sticky;
        box-sizing: border-box;
        top: 0;
        background: white;
        z-index: 1;
      }
    }
    tbody {
      tr {
        &.empty {
          --bs-table-accent-bg: white;
          td {
            border: none;
            padding: 3rem 0;
          }
        }
        td {
          color: $night-blue-70;
          vertical-align: middle ;
          border: none;

          &.action {
            color: $night-blue-30;
            a {
              &:not(:last-child) {
                margin-right: 0.875rem;
              }
            }
          }

          &.status {
            text-transform: capitalize;
        
            &:before {
              content: "";
              display: inline-block;
              height: 8px;
              width: 8px;
              border-radius: 50%;
              margin-right: 0.5rem;
            }
            &-active {
              @extend .status;
              color: $green-80;
              &::before {
                background: $green-80;
              }
            }
            &-inactive {
              @extend .status;
              color: $night-blue-50;
              &::before {
                background: $night-blue-50;
              }
            }
          }
        }
      }
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    // select{
    //   max-width: 64px;
    // }
    p {
      white-space: nowrap;
      color: $night-blue-30;
    }
  }
}

.pagination {
  .page {
    &-link {
      border-radius: 0.125rem;
      i {
        color: $night-blue-30;
      }
    }
  }
}
