#wrapper{
    height: 100%;
    overflow: hidden;
  }
  
  .app{
    &-wrapper{
      &-layout{
        display: flex;
        width: 100%;
        
      }
    }
    &-height{
      height: 100%;
    }
    &-help{
      &-container{
        width: var(--help-container-width);
        background-color: white;
        padding: 1.5rem 2rem;
        transition: all .5s ease-in-out;
        &.toggle{
          padding: 0;
          transform: translateX(var(--help-container-width));
          width: 0;
          opacity:0;
        }
      }
    }
    &-full{
      &-height{
        height: calc(100% - var(--header-height));
      }
    }
    &-flex{
      &-layout{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }
      &-horizontal{
        flex-direction: row;
      }
    }
    &-main{
      &-layout{
        flex-grow: 1;
        
      }
    }
    &-absolute{
      &-layout{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
      }
    }
    &-row{
      &-layout{
        .app-column-first{
            padding-right: 2.5rem;
            height: 100%;
        }
        .app-column-second{
          padding-left: 2.5rem;
          height: 100%;
        }
       
      }
    
    }
    &-max{
      &-width{
        max-width: var(--app-max-width);
      }
    }
  }
  
  
  #root{
    height: 100%;
  }