.header {
  &-01 {
    height: var(--header-height);
    background-color: $navy-40;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    // justify-content: center;

    @include media-breakpoint-down(lg) {
      height: auto;
    }
  }
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @include media-breakpoint-down(lg) {
      padding: 0.25rem 0;
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
    .left,
    .right {
      display: flex;
      align-items: center;
    }

    .left {
      margin-right: 1rem;
      @include media-breakpoint-down(md) {
        order: 2;
        margin-right: 0;
        width: 100%;
      }
    }

    .right {
      padding-right: 1.5rem;
      @include media-breakpoint-down(md) {
        background: $blue;
      }
      @include media-breakpoint-down(md) {
        width: 100%;
        padding: 0.5rem 2rem;
      }
      .form-control-icon {
        width: 20.625rem;

        .form-control {
          background-color: $navy-32;
          color: white;
        }

        &-icon {
          i,
          svg {
            color: white;
          }
        }
      }

      input {
        background-color: $gray-0;
        border: none;
      }
    }
  }
  &-title {
    color: $gray-600;
    font-weight: 600;
    @include rfs(16px);
  }

  &-icon {
    display: flex;
    align-items: center;
    li {
      &:not(:last-child) {
        margin-right: 1rem;
      }
      [class^="ic-"],
      [class*=" ic-"],
      svg {
        color: $blue-80;
        font-size: 1.25rem;
      }
    }
    @include rfs(20px);
    &:hover {
      cursor: pointer;
    }
    @include media-breakpoint-down(sm) {
      color: white;
    }
  }
  &-seperator {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: -0.75rem;
      transform: translateY(-50%);
      background-color: rgba(white, 0.32);
      height: 1.75rem;
      width: 1px;
    }
  }
}
