.login {
  &-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 1rem 0;
    overflow: scroll;
    @include media-breakpoint-down(sm){
      position: static;
    }
  }

  &-form {
    background-color: white;
    padding: 1.75rem 2rem;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04),
      0px 4px 8px rgba(0, 0, 0, 0.08);
    @include media-breakpoint-down(sm) {
      border-radius: 0 0 8px 8px;
      padding: 1.5rem;
    }
    .form {
      &-group {
        label {
          color: $gray-32;
          @include rfs(14px);
          line-height: 1;
          margin-bottom: 0.25rem;
        }
      }
      &-control {
        height: calc(1.2em + 1rem + 2px);
        border-radius: 4px;
        &-icon {
          position: relative;
          [class^="ic-"],
          [class*=" ic-"] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $gray-48!important;
            @include rfs(14px);
          }
          &.rft {
            [class^="ic-"],
            [class*=" ic-"] {
              right: 1rem;
            }
          }
        }
      }
    }
    .custom {
      &-control {
        &-label {
          color: $gray-300;
          @include rfs(12px);
          font-weight: 400;
          padding-top: 0.25rem;
        }
      }
    }
  }
  &-button {
    margin-top: 1.25rem;
    @include rfs(16px);
    background-color: $navy-40;
    padding: 0.5rem 0.75rem;
    border-radius: .25rem;
  }
  &-greeting {
    background-image:  linear-gradient(to bottom right,$navy-40, $navy-24);
    height: 100%;
    border-radius: 8px;
    padding: 1.5rem;
    height: 500px;
    position: relative;
    @include media-breakpoint-down(sm){
      height: auto;
    border-radius: 8px 8px 0 0;

    }
    .logo {
      background-color: white;
      width: 4rem;
      height: 5.125rem;
      border-radius: 4px;
      padding: 0.5rem;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    .greeting {
      h4,h5 {
        @include rfs(24px);
        font-weight: 800;
        font-family: "Lato";
        color: white;
      }
      p {
        @include rfs(16px);
        color: white;
        opacity: 0.86;
        line-height: 150%;
      }
    }
   
    .language {
      cursor: pointer;
      width: 21%;
      padding: 0 0.5rem 0 0;
      background-color: transparent;
      color: white;
      border: none;
      @include rfs(14px);
      border: 0px;
      outline: 0px;
      &:focus {
        background-color: inherit;
        color: white;
      }
      option {
        background-color: $blue;
      }
    }
  }
  &-divider {
    border-bottom: 1px solid white;
    opacity: 0.24;
    margin: 1.5rem 0;
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    p {
      color: white;
      // @include rfs(12px);
      opacity: 0.86;
    }
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
  &-list{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      position: relative;
      color: $gray-500;
      @include rfs(.75rem);
      padding-left: .75rem;
      &.matched{
        color:$green-40;
        &:before{
          background-color: $green-40;
        }
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: .375rem;
         
        height: 0.25rem;
        width: 0.25rem;
        // margin-left: .5rem;
        border-radius: 50%;
        background-color: $gray-400;
      }
    }
  }
}

.alert{
  display: flex;
  align-items: center;
  padding: .5rem .75rem;
  [class^="ic-"], [class*=" ic-"] ,svg{
    font-size: 16px;
  }
  p{
    @include rfs(.75rem);
  }
}