:root {
  --sideoverlay-width: 360px;
}
.sideoverlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: var(--sideoverlay-width);
  background-color: white;
  z-index: 1050;
  transform: translateX(var(--sideoverlay-width));

  &.show {
    right: 0;
    transform: translateX(0);
    &:before {
      content: "";
    }
  }

  &-02 {
    padding: 2rem 1.5rem;
    .title {
      .heading {
        color: $gray-800;
        font-weight: 400;
      }
      .close {
        cursor: pointer;
        @include rfs(0.5rem);
        color: $gray-500;
      }
    }

    .form-group {
      label,
      a {
        @include rfs(0.75rem);
        color: $gray-400;
      }
    }
  }

 
  &-header{
    margin: 0 1rem;
    padding: 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-10;

    .nav-link{
      padding: 0;
    }
    .ic-close{
      background-color: $indigo;
      color: white;
      padding: 0.25rem;
      border-radius: 2px;
    }
    .title{
      color: $indigo;
      @include rfs(20px);
      font-weight:600;
    }
  }

  &-body{
    padding: 0 1rem 1rem;
    height: calc(100% - 4.567rem);
    overflow-y: auto;
    @include scrollable;
  }
}
