@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yfqoi');
  src:  url('fonts/icomoon.eot?yfqoi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yfqoi') format('truetype'),
    url('fonts/icomoon.woff?yfqoi') format('woff'),
    url('fonts/icomoon.svg?yfqoi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-add:before {
  content: "\e900";
}
.ic-alert:before {
  content: "\e901";
}
.ic-archive:before {
  content: "\e902";
}
.ic-arrow-down:before {
  content: "\e903";
}
.ic-arrow-left:before {
  content: "\e904";
}
.ic-arrow-right:before {
  content: "\e905";
}
.ic-arrow-up:before {
  content: "\e906";
}
.ic-attachments:before {
  content: "\e907";
}
.ic-attendance:before {
  content: "\e908";
}
.ic-avatar:before {
  content: "\e909";
}
.ic-bank:before {
  content: "\e90a";
}
.ic-bell:before {
  content: "\e90b";
}
.ic-billboard:before {
  content: "\e90c";
}
.ic-birthday:before {
  content: "\e90d";
}
.ic-briefcase:before {
  content: "\e90e";
}
.ic-bx_bx-message-error:before {
  content: "\e90f";
}
.ic-calculator:before {
  content: "\e910";
}
.ic-calendar:before {
  content: "\e911";
}
.ic-call:before {
  content: "\e912";
}
.ic-camera:before {
  content: "\e913";
}
.ic-caret-down:before {
  content: "\e914";
}
.ic-caret-left:before {
  content: "\e915";
}
.ic-caret-right:before {
  content: "\e916";
}
.ic-caret-up:before {
  content: "\e917";
}
.ic-cash:before {
  content: "\e918";
}
.ic-change:before {
  content: "\e919";
}
.ic-chart-pie:before {
  content: "\e91a";
}
.ic-chat:before {
  content: "\e91b";
}
.ic-check:before {
  content: "\e91c";
}
.ic-checkbox:before {
  content: "\e91d";
}
.ic-check-circle:before {
  content: "\e91e";
}
.ic-chevron-down:before {
  content: "\e91f";
}
.ic-chevron-left:before {
  content: "\e920";
}
.ic-chevron-right:before {
  content: "\e921";
}
.ic-chevron-up:before {
  content: "\e922";
}
.ic-uniE923:before {
  content: "\e923";
}
.ic-uniE924:before {
  content: "\e924";
}
.ic-globe:before {
  content: "\e925";
}
.ic-uniE925:before {
  content: "\e926";
}
.ic-uniE926:before {
  content: "\e927";
}
.ic-uniE927:before {
  content: "\e928";
}
.ic-clock:before {
  content: "\e929";
}
.ic-close:before {
  content: "\e92a";
}
.ic-close-circle:before {
  content: "\e92b";
}
.ic-close-circle-1:before {
  content: "\e92c";
}
.ic-cloud:before {
  content: "\e92d";
}
.ic-collection:before {
  content: "\e92e";
}
.ic-current-location:before {
  content: "\e92f";
}
.ic-cursor-click:before {
  content: "\e930";
}
.ic-customer-support:before {
  content: "\e931";
}
.ic-dashboard:before {
  content: "\e932";
}
.ic-digitalcontent:before {
  content: "\e933";
}
.ic-document-report:before {
  content: "\e934";
}
.ic-download:before {
  content: "\e935";
}
.ic-eschool:before {
  content: "\e936";
}
.ic-evillage:before {
  content: "\e937";
}
.ic-email:before {
  content: "\e938";
}
.ic-external-link:before {
  content: "\e939";
}
.ic-eye:before {
  content: "\e93a";
}
.ic-eye-off:before {
  content: "\e93b";
}
.ic-facebook:before {
  content: "\e93c";
}
.ic-faq:before {
  content: "\e93d";
}
.ic-fa-solid_female:before {
  content: "\e93e";
}
.ic-fa-solid_male:before {
  content: "\e93f";
}
.ic-filter:before {
  content: "\e940";
}
.ic-finger-print:before {
  content: "\e941";
}
.ic-Flag:before {
  content: "\e942";
}
.ic-uniE942:before {
  content: "\e943";
}
.ic-uniE943:before {
  content: "\e944";
}
.ic-uniE944:before {
  content: "\e945";
}
.ic-gallery:before {
  content: "\e946";
}
.ic-GEA:before {
  content: "\e947";
}
.ic-gender:before {
  content: "\e948";
}
.ic-help:before {
  content: "\e949";
}
.ic-help-solid:before {
  content: "\e94a";
}
.ic-heroicons-outline_pencil:before {
  content: "\e94b";
}
.ic-home:before {
  content: "\e94c";
}
.ic-Iconsincircle:before {
  content: "\e94d";
}
.ic-identification:before {
  content: "\e94e";
}
.ic-info:before {
  content: "\e94f";
}
.ic-info-1:before {
  content: "\e950";
}
.ic-kyc:before {
  content: "\e951";
}
.ic-loan:before {
  content: "\e952";
}
.ic-location:before {
  content: "\e953";
}
.ic-location-1:before {
  content: "\e954";
}
.ic-lock:before {
  content: "\e955";
}
.ic-logout:before {
  content: "\e956";
}
.ic-mail:before {
  content: "\e957";
}
.ic-marketing:before {
  content: "\e958";
}
.ic-menu:before {
  content: "\e959";
}
.ic-minus:before {
  content: "\e95a";
}
.ic-mobileapp:before {
  content: "\e95b";
}
.ic-more-horizontal:before {
  content: "\e95c";
}
.ic-more-vertical:before {
  content: "\e95d";
}
.ic-office-building:before {
  content: "\e95e";
}
.ic-outline_chat:before {
  content: "\e95f";
}
.ic-phone:before {
  content: "\e960";
}
.ic-product:before {
  content: "\e961";
}
.ic-refresh:before {
  content: "\e962";
}
.ic-ri_user-add-line:before {
  content: "\e963";
}
.ic-ri_user-settings-line:before {
  content: "\e964";
}
.ic-search:before {
  content: "\e965";
}
.ic-send:before {
  content: "\e966";
}
.ic-settings:before {
  content: "\e967";
}
.ic-SOCIALMEDIA:before {
  content: "\e968";
}
.ic-SOLID:before {
  content: "\e969";
}
.ic-spinner:before {
  content: "\e96a";
}
.ic-switch-vertical:before {
  content: "\e96b";
}
.ic-to-do-list:before {
  content: "\e96c";
}
.ic-training:before {
  content: "\e96d";
}
.ic-trash:before {
  content: "\e96e";
}
.ic-twitter:before {
  content: "\e96f";
}
.ic-upload:before {
  content: "\e970";
}
.ic-user:before {
  content: "\e971";
}
.ic-user-1:before {
  content: "\e972";
}
.ic-user-group:before {
  content: "\e973";
}
.ic-video:before {
  content: "\e974";
}
.ic-youtube:before {
  content: "\e975";
}
.ic-tablet:before {
  content: "\e976";
}
.ic-mobile:before {
  content: "\e977";
}
.ic-desktop:before {
  content: "\e978";
}
.ic-templates:before {
  content: "\e979";
}
.ic-grabber:before {
  content: "\e97a";
}
.ic-users:before {
  content: "\e97b";
}
.ic-list-board:before {
  content: "\e97c";
}
