html {
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  font-size: 1rem;
  height: 100%;

  @include media-breakpoint-down(xl) {
    font-size: 0.875rem;
  }
}
body {
  background-color: var(--body-bg);
  height: 100%;
  &.admin {
    --body-bg: #{$night-blue-5};
    --input-border-color: #{$night-blue-20};
    --input-color: #{$night-blue-50};
    --label-color:#{$night-blue-70};

    .container{
      @include media-breakpoint-up(xxl){
        max-width: 1584px;
      }
    }
  }
}
#app {
  height: 100%;
  overflow-x: hidden;
}

//root variables
:root {
  --sidebar-width: 293px;
  @include media-breakpoint-down(sm) {
    --sidebar-width: 320px;
  }
  --section-spacing: 10.25rem;
  --body-bg: #{$gray-200};
  --card-bg: #{$white};
  --text-black: #{$black};
  --text-light: #{$gray-5};
  --input-bg: #{white};
  --input-disabled-bg: #{$gray-30};
  --input-color: #{$gray-2};
  --input-border-color: #{$gray-5};
  --input-focus-border-color: #{$blue-3};
  --input-placeholder-color: #{$gray-5};
  --admin-header-height: 3.375rem;
  // --admin-secondary-header: 3.375rem;
  --right-container-width: 385px;
}
a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: 0;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: 0;
  }
}
main {
  // padding-top: 7rem;
}

.container-fluid {
  padding: 0 2.5rem;
  @include media-breakpoint-down(sm) {
    padding: 0 1rem;
  }
}

.container-fluid {
  padding: 0 2.5rem;
  @include media-breakpoint-down(sm) {
    padding: 0 1rem;
  }
}