.app {
  &-flex {
    &-layout {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
  }
  &-height {
    height: 100%;
  }
  &-main {
    &-layout {
      flex-grow: 1;
      padding-bottom: 1.5rem;
      position: relative;
    }
  }
  &-row {
    &-layout {
      .app-column-first {
        padding-right: 2.5rem;
        height: 100%;
      }
      .app-column-second {
        padding-left: 2.5rem;
        height: 100%;
        &.bordered {
          box-shadow: inset 1px 0px 0px #b0c0d7;
        }
      }
   
    }
  }
  &-absolute {
    &-layout {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;

      &.withGrid {
        padding-right: 0.75rem;
      }
    }
  }
  &-base {
    &-layout {
      display: flex;
      width: 100%;
    }
  }
  &-right{
    &-layout{
      width: var(--right-container-width);
      background-color: white;
      padding: 1rem 1.5rem;
      transition: all .5s ease-in-out;
      flex-shrink: 0;
      box-shadow: -2px 0px 7px rgba(40, 57, 80, 0.08);
      &.toggle{
        padding: 0;
        transform: translateX(calc(-1 * var(--right-container-width)));
        width: 0;
        opacity:0;
      }
    }
  }

  &-wrapper{
    &-layout{
      height: calc(100% - var(--admin-header-height));
    }
  }
}
