@mixin scrollable($thumb: $gray-100, $track: $white) {
  overflow: auto;
  //padding-right: .5rem;

  /* width */
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $track;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($thumb, 0.8);
    border-radius: 4px;
    // cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumb;
    cursor: pointer;
  }
}

@mixin blink($time) {
  @keyframes blink {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
  }
  animation: blink normal $time infinite ease-in-out;
}

@mixin progressBar {
  @keyframes progressBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  animation: progressBar 3s ease-in-out forwards;
}

@mixin button-outline-variant($color, $bgColor, $border) {
  background-color: $bgColor;
  color: $color;
  border-color: $border;

  [class^="ic-"],
  [class*=" ic-"] {
    color: $color;
  }

  &:hover {
    background-color: rgba($border, 0.8);
    color: $color;

    [class^="ic-"],
    [class*=" ic-"] {
      color: $color;
    }
  }
}

@mixin button-ghost-variant($color, $hoverBgColor) {
  background-color: transparent;
  color: $color;
  border-color: none;

  [class^="ic-"],
  [class*=" ic-"] {
    color: $color;
  }

  &:hover {
    background-color: $hoverBgColor;
    color: $color;

    [class^="ic-"],
    [class*=" ic-"] {
      color: $color;
    }
  }
}
@mixin scrollable($thumb: #b0c0d7, $track: transparent) {
  overflow: auto;
  //padding-right: .5rem;

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $track;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($thumb, 0.8);
    border-radius: 4px;
    // cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumb;
    cursor: pointer;
  }
}

@mixin alert-strip-variant($color, $bgColor, $iconColor) {
  color: $color;
  background: $bgColor;
  i,
  svg {
    color: $iconColor;
    vertical-align: middle;
    @include rfs(20px);
  }
}

@mixin flex($vertical: null, $horizontal: null, $direction: null) {
  display: flex;
  flex-direction: $direction;
  align-items: $vertical;
  justify-content: $horizontal;
}

@mixin clamp($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
