h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

p,
.p,
.des {
  @include rfs(14px);
}

small,
.small {
  @include rfs(12px);
}

// Font weight
.fw {
  &-semibold {
    font-weight: 600;
  }
}

.heading {
  &-01 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  &-02 {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    background-color: $red-3;
    color: $white;
    width: max-content;
  }
  &-03 {
    @include rfs(24px);
    font-weight: 700;
    position: relative;
    color: $gray-1;
    &::before {
      position: absolute;
      content: "";
      bottom: -0.5rem;
      left: 0;
      height: 3px;
      width: 50px;
      background-color: $blue-3;
    }
  }
  &-04 {
    @include rfs(16px);
    font-weight: 700;
    color: $gray-3;
  }
  &-05 {
    @include rfs(24px);
    font-weight: 700;
  }
  &-06 {
    @include rfs(18px);
    color: $night-blue-60;
    font-weight: 700;
  }
  &-07 {
    @include rfs(14px);
    color: $night-blue-75;
    font-weight: 700;
  }
}

.text {
  &-01 {
    color: $gray-4;
  }
  &-underline {
    text-decoration: underline;
    color: $primary;
  }
}

.textbox {
  &-01 {
    max-width: 20.5rem;
    text-align: center;
    p {
      @include rfs(16px);
      color: $night-blue-40;
    }
  }

  &-02 {
    h4 {
      @include rfs(24px);
      color: $night-blue-60;
      font-weight: 700;
    }
    h6 {
      color: $night-blue-50;
    }
  }
  &-03 {
    h5 {
      @extend .heading-06;
    }
    p {
      color: $night-blue-50;
    }
  }

  &-04 {
    h6 {
      color: $night-blue-70;
      font-weight: 800;
    }
    p {
      @include rfs(14px);
      margin-top: 0.5rem;
      color: $night-blue-40;
    }
  }
  &-05 {
    width: 464px;
    h6 {
      color: $night-blue-40;
      font-weight: 600;
      @include rfs(14px);
    }
    p {
      @include rfs(12px);
      color: $night-blue-40;
    }
    .badge {
      margin-left: 0.5rem;
    }
  }
}

.clamp {
  @for $i from 1 through 5 {
    &-#{$i} {
      display: -webkit-box;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
