.align {
  &-vertical {
    display: flex;
    align-items: center;
  }
  &-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.divider {
  width: 100%;
  border-bottom: 1px solid $table-border-color;
  &.sm {
    width: 100px;
  }
}
//Odd Grids
.grid {
  display: grid;
  @for $i from 5 through 9 {
    &-#{$i} {
      display: grid;
      grid-template-columns: repeat($i, minmax(0, 1fr));
      column-gap: 0.75rem;
      row-gap: 1rem;
      @include media-breakpoint-down(md) {
        grid-template-columns: repeat(calc(#{$i} - 2), minmax(0, 1fr));
      }
      @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
}

.mt--4 {
  margin-top: 2rem;
}
.pt--4 {
  padding-top: 2rem;
}

.scrollable {
  @include scrollable;
}

.icon {
  &-viewport {
    display: flex;
    align-items: center;
    a {
      @extend .btn-square_md;
      cursor: pointer;
      &.active {
        background: $morning-blue-40;
        i {
          color: white;
        }
      }

      i {
        @include rfs(20px);
        color: $night-blue-40;
        pointer-events: none;
      }
    }
  }
}

.mt--4 {
  margin-top: 2rem;
}
.pt--4 {
  padding-top: 2rem;
}

.scrollable {
  @include scrollable;
}

.drag {
  &-list {
    &:first-child {
      margin-bottom: 1.5rem;
    }
    &:last-child {
      margin-top: 1rem;
    }
    .ic-grabber {
      visibility: hidden;
      color: $night-blue-30;
      margin-right: 0.5rem;
      cursor: move;
    }

    .draggable {
      .ic-grabber {
        visibility: visible;
      }
    }

    .count {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $night-blue-40;
      background-color: $night-blue-5;
      @include rfs(12px);
      margin-left: 0.5rem;
    }
  }
  .sortable-drag {
    opacity: 0;
  }
  .flip-list-move {
    transition: transform 0.2s;
  }
}

.d {
  &_none {
    display: none;
  }
}

.svg {
  position: absolute;

  &.rft {
    right: 0;
  }
  &.lft {
    left: 0;
  }
}

.sectionHovered {
  &:hover {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($red-3, 0.25);
    }
  }
}
.sectionSelected {
  box-shadow: inset 0px 0px 0px 4px $red-3;
}
