$blue-1: #143566;
$blue-2: #1b4789;
$blue-3: #2159ab;
$blue-4: #70a9ff;
$blue-5: #99c2ff;
$blue-6: #cadfff;
$blue-7: #ebf2ff;

$night-blue-5: #f2f5f8;
$night-blue-10: #dce3ed;
$night-blue-15: #c6d1e2;
$night-blue-20: #b0c0d7;
$night-blue-30: #839dc1;
$night-blue-40: #5779ab;
$night-blue-50: #405a80;
$night-blue-60: #283950;
$night-blue-70: #101721;
$night-blue-75: #050609;

$morning-blue-5: #edf3fc;
$morning-blue-40: #2371de;
$morning-blue-50: #1954a6;

$enable-responsive-font-sizes: true;
$font-family-base: "Martel Sans", sans-serif;

//gray
$gray-1: #242424;
$gray-2: #414141;
$gray-3: #5c5c5c;
$gray-4: #7a7a7a;
$gray-5: #a1a1a1;
$gray-6: #f2f2f2;
$gray-7: #e0e0e0;
$gray-8: #ededed;
$gray-9: #c1c1c1;
$gray-30: #efefef;
$gray-40: #dedede;
$gray-50: #bebebe;
$gray-70: #7d7d7d;
$gray-100: #2e2e2e;
$gray-200: #f8f8f8;

//solid
$black: #111111;
$white: #ffffff;

//green
$green-1: #2b662e;
$green-2: #37833b;
$green-3: #18b101;
$green-4: #2add0f;
$green-5: #c2ffc8;
$green-6: #ecf7ed;
$green-80: #05a106;

//yellow
$yellow-1: #ce6b00;
$yellow-2: #fb8200;
$yellow-3: #f4b101;
$yellow-4: #ffc939;
$yellow-5: #ffeec2;
$yellow-6: #ffefde;

//red
$red-1: #9c2b23;
$red-2: #c50714;
$red-3: #ed1c1c;
$red-4: #f44336;
$red-5: #ffc2c2;
$red-6: #fee8e7;
$red-30: #fee9e9;
$red-80: #ed1c1c;
$red-90: #b21515;

//theme colors
$theme-colors: (
  "primary": $blue-3,
  "danger": $red-2,
  "warning": $yellow-3,
  "success": $green-80,
  "gray-1": $gray-1,
  "gray-3": $gray-3,
  "gray-5": $gray-5,
  "gray-50": $gray-50,
  "gray-100": $gray-100,
  "white": $white,
  "night-5": $night-blue-5,
  "night-30": $night-blue-30,
  "night-40": $night-blue-40,
  "night-50": $night-blue-50,
  "night-70": $night-blue-70,
  "morning-40": $morning-blue-40,
);

//border
$border-color: #cdcdcd;
$border-color-light: #dddddd;

// container
$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1180px,
  xxl: 1366px,
);

//Input
$input-padding-y: 0.4rem;
$input-padding-x: 1rem;
$input-padding-y-sm: 0.25rem;
$input-padding-x-sm: 0.5rem;
$input-font-size-sm: 0.7rem;
$input-font-size: 0.85rem;
$input-font-size-sm: 0.75rem;
$input-color: var(--input-color);
$input-bg: var(--input-bg);
$input-disabled-bg: var(--input-disabled-bg);
$input-border-width: 1px;
$input-border-radius: 0.25rem;
$input-border-color: var(--input-border-color);
$input-focus-border-color: var(--input-focus-border-color);
$input-placeholder-color: var(--input-placeholder-color);
$input-line-height: 1;
$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 2.875rem;
$input-height: ($input-font-size) + ($input-padding-y * 2 * $input-line-height);
$input-focus-box-shadow: 0;

//Input group
$input-group-addon-color: $gray-70;
$input-group-addon-bg: $gray-30;

//Select
$form-select-padding-y: $input-padding-y;
$form-select-padding-x: $input-padding-x;
$form-select-line-height: $input-line-height * 1.45;
$form-select-font-size-sm: $input-font-size;
$form-select-padding-y-sm: 0.25rem;
$form-select-padding-x-sm: 0.25rem;
$form-select-indicator-color: $night-blue-30;

//Form
$form-label-margin-bottom: 0.5rem;
$form-group-margin-bottom: 1rem;
$form-label-font-size: 0.875rem !important;
$form-label-color: var(--label-color);

//file upload
$form-file-button-color: $white;
$form-file-button-bg: $blue-3;

//Checkbox and switch
$form-check-label-color: $gray-3;
$form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='4' fill='#{$night-blue-50}'/></svg>");
$form-switch-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='4' fill='#{$morning-blue-40}'/></svg>");
$form-switch-bg-image-light: $night-blue-30;
$form-switch-checked-bg-image-light: $white;
//Button
$btn-font-weight: 400;
$btn-padding-y-sm: $input-padding-y-sm;
$btn-padding-x-sm: $input-padding-x-sm;
$btn-font-size: $input-font-size;
$input-btn-font-size-sm: 0.75rem;
$btn-padding-y-xs: 0.25rem;
$btn-padding-x-xs: 0.25rem;
$btn-font-size-xs: 0.7rem;
$btn-line-height-xs: 1.4;
$btn-border-radius-xs: 0.125rem;

//Table
$table-th-font-weight: 600;
$table-border-color: #dce3ed;
$table-cell-padding-y: 0.5rem;
$table-cell-padding-x: 1.5rem;
$table-striped-bg: $night-blue-5;

//-animation
$time-func-1: cubic-bezier(0.4, 0, 0.2, 1);
$time-func-2: cubic-bezier(0.83, 0, 0.17, 1);
$time-func-3: cubic-bezier(0.65, 0, 0.35, 1); //used only while looping
$transition-base: all 0.25s $time-func-1;
$transition-fade: opacity 0.25s $time-func-1;
$input-transition: border-color 0.35s $time-func-1,
  box-shadow 0.35s $time-func-1, background-color 0.35s $time-func-1;
$btn-transition: color 0.25s $time-func-1, background-color 0.25s $time-func-1,
  border-color 0.25s $time-func-1, box-shadow 0.25s $time-func-1;
$transition-collapse: height 0.25s $time-func-1;

// font weight
$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  bolder: 800,
  black: 900,
);

//Progress
$progress-height: 0.25rem;
$progress-bg: $night-blue-10;
$progress-border-radius: 100px;
//Font
$font-family-base: "Noto Sans", "sans-serif";

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: 2.5rem,
);

//Breadcrumb
$breadcrumb-font-size: 0.75rem;
$breadcrumb-active-color: $night-blue-50;
$breadcrumb-divider-color: $night-blue-20;

//Popover
$popover-font-size: 0.875rem;
$popover-header-bg: white;
$popover-header-color: $night-blue-75;
$popover-header-padding-y: 1rem;
$popover-header-padding-x: 1rem;
$popover-border-color: transparent;
$popover-arrow-width: 0;
$popover-body-color: $night-blue-50;
$popover-max-width: 365px;
$popover-border-radius: 8px;

//Pagination
$pagination-border-color: white;
$pagination-color: $night-blue-70;
$pagination-padding-y-sm: 0.125rem;
$pagination-padding-x-sm: 0.5rem;

//Tooltip
$tooltip-font-size: 0.75rem;
$tooltip-bg: $blue-3;
$tooltip-padding-y: 0.25rem;
$tooltip-padding-x: 0.5rem;
$tooltip-max-width: 240px;

//Modal
$modal-md: 30rem;
$modal-backdrop-bg: $night-blue-70;

//Grid
$grid-gutter-width: 16px;

//Card
$card-border-color: none;

//List
$list-group-bg: transparent;
$list-group-item-padding-x: 0;
$list-group-item-padding-y: 0.5rem;

//Dropdown
$dropdown-font-size: 0.75rem;
$dropdown-link-color: $night-blue-40;
$dropdown-item-padding-x: 0.875rem;
$dropdown-item-padding-y: 0.25rem;
$dropdown-border-color: none;
$dropdown-box-shadow: 0px 4px 8px rgba(40, 57, 80, 0.04),
  0px 2px 4px rgba(40, 57, 80, 0.08);
